#container{
    margin: 0;
    padding: 0;
    height: fit-content;
    width: fit-content;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: #9fa76b 5px solid;
}

.row{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.btn{
    margin: 0;
    padding: 0;
    height: 50px;
    width: 50px;
    background: none;
    font-size: 1.5em;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    background: #f1f1f1;
}
.btn:active{
    background: #e1e1e1;
}
.btn:focus{
    outline: none;
}

/* #input{
    margin: 0;
    padding: 0;
    height: 100px;
    background: beige;
    font-size: 1.5em;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    transition: 0.3s;
} */
/* #input:focus{
    outline: none;
    border-bottom: 1px solid #f1f1f1;
}
#input:disabled{
    background: #f1f1f1;
    color: #e1e1e1;
    cursor: not-allowed;
} */
#display{
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
#current{
    font-size: 1.5em;
}
#previous{
    font-size: 1em;
    color: #a19e9e;
}
#container button{
    border-radius: 15px;
    border: 2px;
    outline: none;
}
#clear{
    width: 92px;
}
#equal{
    width: 92px;
}
.buttons{background: #d8e96e;}